<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addrecord/" method="post">
        {% csrf_token %}
        <input type="text" placeholder="write here firstname" name="first">
        <input type="text" placeholder="write here lastname" name="last">
        <input type="submit" value="submit">
    </form>
</body>
</html>