<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "nav.html" %}
    <h1>Members</h1>
    <div><a href="add/">add</a></div>
    <table border="1">
        {% for x in mymembers %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstname }}</td>
            <td>{{ x.lastname }}</td>
            <td><a href="delete/{{x.id}}">delete</a></td>
            <td><a href="update/{{x.id}}">update</a></td>           
        </tr>
        {% endfor %}
    </table>
</body>
</html>